/* Abdur rahman */
/* General */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #F5F8FF;
    /* color: #333; */
    margin: 0;
    padding: 0;
  }

  /* Navbar */
  .navbar {
    display: flex;
        justify-content: space-between;
        width: 90% !important;
        margin: auto;
        box-shadow: 0;
}
  
  .logo img:hover{
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
  }
  .navbar-brand {
    font-size: 1.5rem;
    color: #000;
  }
  
  .nav-link {
    color: #8987A1;
    font-weight: 500;
  }
  
  .nav-link:hover,
  .nav-link:focus {
    color: #000;
    text-decoration: none;
  }
  
  .cart-link {
    position: relative;
    font-weight: 600;
  }
  
  .cart-link .fa-shopping-cart {
    margin-right: 0.3rem;
  }
  
  .cart-count {
    position: absolute;
    top: -6px;
    right: -10px;
    background-color: #e03e2f;
    color: #fff;
    font-size: 0.7rem;
    padding: 0 6px;
    border-radius: 12px;
    font-weight: bold;
  }

  /* Banner section */

  .banner {
    /* background: #e6f2e6; */
    border-radius: 10px;
    margin: 20px auto;
    max-width: 1200px;
    gap: 2rem;
  }

  /* add effect  */
  .banner-text {
    margin-bottom: -137px !important;
  }
  .var-effect {
    position: relative;
    padding-left: 20px; 
  }
  .banner:hover .var-effect::before{
    content: '';
    position: absolute;
    top: 0;
    right: -50px;
    width: 2px;
    height: 20%;
    background-color: rgba(213, 41, 41, 0.8);
    z-index: -1;
    border-radius: 10px;
  }
  
  .banner-text h1 {
    color: #000;
    font-weight: 700;
  }

  .banner .banner-text h1 span{
    color: #E95A08 !important;
  }
  
  .banner-text p {
    font-size: 1.25rem;
    color: #000000;
  }
  
  .banner-image img {
    /* max-width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
  }
  
  